<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img
      src="/adminlte/dist/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->

        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>Beranda</p>
          </a>
        </li>
        <li class="nav-header">Master</li>
        <li class="nav-item">
          <a href="/category" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>Kategory</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/nominal" class="nav-link">
            <i class="nav-icon fas fa-tasks"></i>
            <p>Nominal</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/voucher" class="nav-link">
            <i class="nav-icon far fa-image"></i>
            <p>Voucher</p>
          </a>
        </li>
        <li class="nav-header">Metode Pembayaran</li>
        <li class="nav-item">
          <a href="/bank" class="nav-link">
            <i class="nav-icon fas fa-money-check"></i>
            <p>Bank</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/payment" class="nav-link">
            <i class="nav-icon fas fa-money-check-alt"></i>
            <p>Jenis Pembayaran</p>
          </a>
        </li>
        <li class="nav-header">Transaksi</li>
        <li class="nav-item">
          <a href="/transaction" class="nav-link">
            <i class="nav-icon fas fa-shopping-cart"></i>
            <p>Transaksi</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
