<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs
%> <%- include ../../partials/sidebar.ejs %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Jenis Pembayaran</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/payment">Jenis Pembayaran</a></li>
            <li class="breadcrumb-item active">Ubah</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Form Ubah Jenis Pembayaran "<%= payment.type %>" </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/payment/edit/<%= payment._id %>?_method=PUT" method="POST">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="type"
                        >Tipe</label
                      >
                      <input
                        value="<%= payment.type %>"
                        name="type"
                        type="text"
                        class="form-control"
                        id="type"
                        placeholder="Masukkan Tipe Pembayaran"
                      />
                    </div>
                    <div class="form-group">
                      <label>Nominal</label>
                      <div class="select2-purple">
                        <select class="form-control select2" multiple="multiple" style="width: 100%;" data-placeholder="Pilih Nominal" name="banks" >
                          <% banks.forEach(bank => { %>
                            <option value="<%= bank._id %>" 
                              <% payment.banks.forEach(paymentBank => { %>
                                <% if(bank._id.toString() === paymentBank._id.toString()) { %>
                                  selected
                                <% } %>
                              <% }) %>
                            >
                            <%= bank.name %> - <%= bank.bankName %> - <%= bank.noAccount %>
                            </option>
                          <% }) %>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                      Simpan
                    </button>
                  </div>
                </form>
              </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<%- include ../../partials/footer.ejs %> <%- include ../../partials/js.ejs %>
