<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama Game</th>
      <th>Item</th>
      <th>Total Harga</th>
      <th>Status</th>
      <th>Nama Player</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < transaction.length; i++) { %>
    <tr>
      <td><%= i + 1 %></td>
      <td>
        <ul class="list-inline">
          <li class="list-inline-item">
            <img
              width="48px"
              height="48px"
              src="http://localhost:3000/uploads/<%= transaction[i].historyVoucherTopUp.thumbnail %>"
            />
          </li>
        </ul>
        <%= transaction[i].historyVoucherTopUp?.gameName %>
        <br />
        <%= transaction[i].historyVoucherTopUp?.category %>
      </td>
      <td>
        <%= transaction[i].historyVoucherTopUp?.cointQty %> <%=
        transaction[i].historyVoucherTopUp?.cointName %>
      </td>
      <td><%= transaction[i].value %></td>
      <td>
        <% if(transaction[i].status === 'pending') { %>
        <span class="badge badge-warning"> <%= transaction[i].status %> </span>
        <% } else if(transaction[i].status === 'success') { %>
        <span class="badge badge-success"> <%= transaction[i].status %> </span>
        <% } else { %>
        <span class="badge badge-danger"> <%= transaction[i].status %> </span>
        <% } %>
      </td>
      <td><%= transaction[i]?.player?.name ?? '-' %></td>
      <td>
        <form
          style="display: inline-block"
          action="/transaction/status/<%= transaction[i]._id %>?status=failed&_method=PUT"
          method="POST"
        >
          <button class="btn btn-danger btn-sm">
            <i class="fas fa-times-circle"></i> Tolak
          </button>
        </form>
        <form
          style="display: inline-block"
          action="/transaction/status/<%= transaction[i]._id %>?status=success&_method=PUT"
          method="POST"
        >
          <button class="btn btn-info btn-sm">
            <i class="fas fa-check"></i> Terima
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
