<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Tipe Pembayaran</th>
      <th>Banks</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < payment.length; i++) { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= payment[i].type %></td>
      <td>
        <% payment[i].banks.forEach(bank => { %>
        <span class="badge badge-warning">
          <%= bank.name%> - <%= bank.bankName %> - <%= bank.noAccount %>
        </span>
        <% }) %>
      </td>
      <td>
        <% if(payment[i].status === 'Y') { %>
        <span class="badge badge-success"> Aktif </span>
        <% } else { %>
        <span class="badge badge-danger"> Tidak Aktif </span>
        <% } %>
      </td>
      <td>
        <form
          action="/payment/delete/<%= payment[i]._id %>?_method=DELETE"
          method="POST"
        >
          <a
            href="/payment/edit/<%= payment[i]._id %>"
            class="btn btn-warning btn-sm"
            >Ubah</a
          >
          <button class="btn btn-danger btn-sm">Hapus</button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
