<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs
%> <%- include ../../partials/sidebar.ejs %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Bank</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/bank">Bank</a></li>
            <li class="breadcrumb-item active">Tambah</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Form Tambah Bank</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/bank/create" method="POST">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="name"
                        >Nama Pemilik</label
                      >
                      <input
                        name="name"
                        type="text"
                        class="form-control"
                        id="name"
                        placeholder="Masukkan Nama Pemilik"
                      />
                    </div>
                    <div class="form-group">
                      <label for="bankName"
                        >Nama Bank</label
                      >
                      <input
                        name="bankName"
                        type="text"
                        class="form-control"
                        id="bankName"
                        placeholder="Masukkan Nama Bank"
                      />
                    </div>
                    <div class="form-group">
                      <label for="noAccount"
                        >Nomor Rekening</label
                      >
                      <input
                        name="noAccount"
                        type="number"
                        class="form-control"
                        id="noAccount"
                        placeholder="Masukkan Nomor Rekening"
                      />
                    </div>
                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                      Simpan
                    </button>
                  </div>
                </form>
              </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<%- include ../../partials/footer.ejs %> <%- include ../../partials/js.ejs %>
